[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"nose2" = "*"

[packages]
django = "*"
django-redis = "*"
djangorestframework = "*"
redis = "*"
coveralls = "*"
coreapi = "*"
pygments = "*"
markdown = "*"
"autopep8" = "*"
django-cors-headers = "*"

[requires]
python_version = "3.5"
